.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url(../../../image/bg_6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
