.swiper {
  width: 100%;
}
.swiper-height {
  height: 600px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;

  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #89c74a;
  color: white !important;
  padding: 15px !important;
  border-radius: 5px;
  transition: 0.3s;
}
.swiper-button-prev:hover {
  background-color: tomato;
}
.swiper-button-next:hover {
  background-color: tomato;
}
.swiper-pagination-bullet-active {
  background-color: #89c74a !important;
  width: 15px !important;
  border-radius: 10px !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 15px !important;
}
