@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color1 {
  background-color: #89c74a;
}
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500;600;700&display=swap");

.header-font {
  font-family: "Lemonada", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,500&display=swap");
.content-header {
  font-family: "Playfair Display", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.header {
  @apply header-font text-black font-bold text-4xl text-center pt-10 text-[#89c74a];
}

.btn {
  @apply bg-[#89c74a] text-white rounded-full py-3 px-5 hover:bg-orange-600 duration-300 mt-3 focus:outline-none focus:ring focus:ring-orange-300;
}
.btn2 {
  @apply bg-[#89c74a] text-white rounded-full py-2 px-6 hover:bg-orange-600 duration-300 mt-3 focus:outline-none focus:ring focus:ring-orange-300;
}

.link {
  @apply hover:text-[#89c74a]  font-semibold duration-300 cursor-pointer;
}
